<!DOCTYPE html>
<html>
<head>
	<title>Admin|{{title}}</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="static/main.css">
</head>
<body>
	<h1>Admin panel</h1>
	<table>
		<tbody id='table__main' class='table__main'>

		</tbody>
	</table>
</body>
<script type="text/javascript" src="static/main.js"></script>
</html>
