<!DOCTYPE html>
<html>
<head>
	<title>Admin|{{title}}</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../main.css">
</head>
<body>
	<header>
		<h1>Admin panel</h1>
		<h2>Edit note</h2>
	</header>
	<form>
		<fieldset>
		{% for field_name, value in note.items() %}
			<div class="ap-form-row">
				<label for="{{field_name}}">{{field_name}}</label>
				<input class="ap-form-input" type="text" name="{{field_name}}" value="{{value}}" required>
			</div>
		{% endfor %}
			<div class="">
				<button class="" type="submit" formmethod="post" formaction="/edit/{{ note['_id'] }}">Submit</button>
			</div>
		</fieldset>
		</form>

</body>
</html>
<!-- тут я ожидаю получить словарь отображающий поле на значение -->
<!-- с помощью него создать поля для редактирования -->